# Ignored files for git

# Data files which are too large to be stored in GitHub (and any LAPOP restricted data)

data/americas_barometer/ECU_merge_2004-2023_LAPOP_AmericasBarometer_v1.0_w.sav
data/weather/temperature_processed.csv
.Rproj.user
data/full_df.csv